@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700;800&family=Bebas+Neue&family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.Verification{
    background-image: url('Pink Red Modern Night City Desktop Wallpaper.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
h4{
    margin-bottom: 40px;
}
.verimain{
    background-color: white;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  border-radius: 10px;
}
.logo{
    cursor: pointer;
    font-size: large;
}
.veriinput{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.send{
  width: 390px;
  padding: 10px;
  height: 50px;
  border-radius: 50px;
  background-color: #8b57f9;
  color: white;
  letter-spacing: 5px;
  border: 1px solid gray;
  cursor: pointer;
}
.signup{
    width: 390px;
  padding: 10px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  color: #8b57f9;
  letter-spacing: 5px;
  border: 1px solid #8b57f9;
  cursor: pointer;
}
/* .backbtn{
    position: relative;
} */
.verilink{
    text-decoration: none;
    font-size: small;
    top: 15%;
    left: 15%;
    position: absolute;
    font-size: xx-large;
    color: #8b57f9;
    filter: drop-shadow(10px 8px 6px rgba(0,0,0,0.19));
}
.verilink:hover{
    font-size: 35px;
}
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.email p{
    font-size: small;
}
.email .resend{
    color: blue;
}

@media screen and (max-width:620px){
    .send{
        width: 65vw;
    height: 45px;
    font-size: small;
    font-weight: 700;
    }
    .signup{
        width: 65vw;
    height: 45px;
    font-size: small;
    font-weight: 700;
    }
    
}

